@using TwitHub.Data.Entities;
@model UserPageViewModel

<div>
    @await Html.PartialAsync("_UserPagePartial")
</div>
<br>

@if (Model.FollowerCount > 0)
{
    @foreach (var follower in Model.Followers)
    {
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <img src="~/img/twithubmain.png" class="userlistimg">
                </div>
                <div class="col-md-3">
                    <div class="card-body">
                        <a class="display: block text-decoration-none " asp-controller="user" asp-action="Index" asp-route-id="@follower.SourceApplicationUser.Id">
                            <h5 class="card-title text-decoration-none text-dark">@follower.SourceApplicationUser.UserName</h5>
                        </a>
                        <p class="text-muted">Follow Time @follower.CreatedDate</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
}
else
{
    <div class="alert alert-warning" role="alert">Follower Not Found</div>
}